<div>
  <script id="container" type="text/html">
    <div id="<%= id %>" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#"><%= brand %></a>
          <!-- need to drive this from data -->
          <ul class="nav nav_left_menu">
          </ul>
          <ul class="nav pull-right nav_right_menu">
          </ul>
        </div>
      </div> 
    </div>
  </script>
  <script id="item_link" type="text/html">
    <li><button type="button" class="btn btn-mini" id="<%= id %>"><%= text %></a></li>
  </script>
</div>
