
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <span class="icon">
            <i class="icon-coffee"></i>
          </span>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Speak no evil</h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus repellendus officia iusto reiciendis quae quod consequuntur tempora. Rem, placeat laboriosam perferendis eum obcaecati illo iste molestias? Optio in expedita dolor!
          </p>
        </div>
      </div>
    </div>
