
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <img class="img-rounded" src="/images/ctwapub.png" />
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Web Fundamentals</h2>
          <hr>
          <p>
            I've been working on both public-facing and line-of-business web applications for quite some time, earning hard-won experience on how to make applicaitons that are robust and performant on the client and server. I have extensive full-stack experience in ASP.NET MVC applications, and enjoy pure client-side work in JavaScript just as much.
          </p>
        </div>
      </div>
    </div>
