
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <a target="_blank" href="/images/terraindemo/app.html" alt="WebGL Terrain Demo">
          <img class="img-rounded" src="/images/terrain-demo.png" />
          </a>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Three.js/WebGL Terrain Demo</h2>
          <hr>
          <p>
            A <a href="https://github.com/mrdoob/three.js">Three.js</a>/WebGL project I'm working on to explore random terrain generation from fractal noise. It is a work-in-progress and includes a number of configurable inputs that alter the output.
          </p>
        </div>
      </div>
    </div>
