
    <div class="grid__item one-third lap-one-whole palm-one-whole usp">
      <div class="grid">
        <div class="grid__item one-whole lap-one-third">
          <a target="_blank" href="/content/terraindemo/app.html" alt="WebGL Terrain Demo">
          <img class="img-rounded" src="/images/terrain-demo.png" />
          </a>
        </div>

        <div class="grid__item one-whole lap-two-thirds">
          <h2 class="title">Interactive HTML5 Applications</h2>
          <hr>
          <p>
            I enjoy working on projects in cutting edge technologies like WebGL (using tools/libraries like <a href="https://github.com/mrdoob/three.js">Three.js</a>, GLSL shaders, etc) and want to do more of this kind of work. I'm also interested in WebRTC and real-time, distributed web experiences driven by peer-to-peer interaction. Click the image above to see a WebGL-based, fractal noise-based terrain generation demo.
          </p>
        </div>
      </div>
    </div>
